/*!* public/css/styles.css *!*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f4f4f9;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*    font-size: 24px;*/
/*    color: #333;*/
/*}*/

/*form {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*select {*/
/*    margin-right: 10px;*/
/*    padding: 5px 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*}*/

/*button {*/
/*    padding: 5px 10px;*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    margin-bottom: 20px;*/
/*}*/

/*thead th {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*tbody td {*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*tfoot td {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/

/*.pagination {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    list-style: none;*/
/*    padding: 0;*/
/*}*/

/*.pagination li {*/
/*    margin: 0 5px;*/
/*}*/

/*.pagination a {*/
/*    padding: 5px 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    color: #007bff;*/
/*}*/

/*.pagination a:hover {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

/*.pagination .active a {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    border: none;*/
/*}*/
